<div class="container">
  
  <div class="card">
      <div class="row">
          <div class="jumbotron col-sm-12" style="color: aliceblue;">
              <h2>Welcome to Gloria School <i class="fa fa-school"></i></h2>
              <h5>Vision: We are the Agents Of Change
              </h5>
            </div>
          <div class="col-sm-4" style="max-width: 500px;">
            <img src="./assets/img/img1.jpg" alt="" class="img img-float">
            <p>
              sthhpbeoiob  boefuoe
            </p>
          </div>
          <div class="col-sm-4" style="max-width: 500px;">
            <img src="./assets/img/img2.jpg" alt="" class="img img-float">
            <p>
              benopeinp beh
            </p>
          </div>
          <div class="col-sm-4" style="max-width: 500px;">
            <img src="./assets/img/img3.jpg" alt="" class="img img-float">
            <p>
              beoepibenveno eoveo
            </p>
          </div>
          <div class="col-sm-4" style="max-width: 500px;">
            <img src="./assets/img/img4.jpg" alt="" class="img img-float">
            <p>
              <Caption>Caption Here</Caption>
            </p>
          </div>
          <div class="col-sm-4" style="max-width: 500px;">
            <img src="./assets/img/img5.jpg" alt="" class="img img-float">
            <p>
              <Caption>Caption Here</Caption>
            </p>
          </div>
          <div class="col-sm-4" style="max-width: 500px;">
            <img src="./assets/img/img6.jpg" alt="" class="img img-float">
            <p>
              <Caption>Caption Here</Caption>
            </p>
          </div>
        </div>

  </div>
  
</div>


<div class="container">
  <button class="btn btn-primary btn-lg" (click)="openFile()">Open File dialogue</button>
</div>